::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
  margin-right: 10px;
}

::-webkit-scrollbar-corner {
  border: none;
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(61, 60, 66);
  border-radius: 3px;
  cursor: move;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
}
